<!doctype html>
<html lang="zxx">
	<head>
    {% include "../includes/head.twig" %}
    </head>
<body data-barba="wrapper">	

        <div id="app">
        <!-- HEADER -->
        {% include "../includes/header.twig" %}
        <div class="load-container">
          <div class="loading-screen">
          
          </div>
        </div>
    
          <!-- MAIN -->
         <div class="" data-barba="container" data-barba-namespace="home-section">
            <main id="main" class="main">
              {% block content %}

              {% endblock %}
            </main> 
         </div>
    

        <!-- FOOTER -->
        {% include "../includes/footer.twig" %}
        </div>
        <!-- SCRIPTS -->
        {% include "../includes/scripts.twig" %}

    
   

</body>
</html>