$breakpoints: (
    "phone-min":            260px,
    "phone-min-small":      320px, 
    "phone-small":          340px, 
    "phone":                400px,
    "phone-wide":           480px,
    "phablet":              560px,
    "tablet-small":         640px,
    "tablet":               768px,
    "tablet9":              982px,
    "tablet-wide":          1024px,
    "desktop":              1248px,
    "desktop-mediun":       1350px,
    "desktop-wide":         1440px,
    "desktop-wide-xs":      1480px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
