.center-absolute{
	position: absolute;
	z-index: 900000;
	height: 100vh;
	width: 100%;

}
.p0{
	width:padding-global(p0);
	border-left: color-root(primary, base);
	height: 100vh;
}
.p1{
	width:padding-global(p1);
	border-left: 1px solid color-root(primary, base);
	height: 100vh;
}
.p2{
	width:padding-global(p2);
	border-left: 1px solid color-root(primary, base);
	height: 100vh;
}
.p3{
	width:padding-global(p3);
	border-left: 1px solid color-root(primary, base);
	height: 100vh;
}
.p4{
	width:padding-global(p4);
	border-left: 1px solid color-root(primary, base);
	height: 100vh;
}
.p5{
	width:padding-global(p5);
	border-left:1px solid color-root(primary, base);
	height: 100vh;
}
.p6{
	width:padding-global(p6);
	border-left: 1px solid color-root(primary, base);
	height: 100vh;
}
.p7{
	width:padding-global(p7);
	border-left:1px solid color-root(primary, base);
	height: 100vh;
}
.p8{
	width:padding-global(p8);
	border-left:1px solid color-root(primary, base);
	height: 100vh;
}
.p9{
	width:padding-global(p9);
	border-left:1px solid color-root(primary, base);
	height: 100vh;
}
.p10{
	width:padding-global(p10);
	border-left:1px solid color-root(primary, base);
	height: 100vh;
}