
            
<div class="style-guide-container">
    <header class="style-guide-header">
        <nav class="nav">
            <ul>
                <li class="link bg-lumi"><button class="btn btn-full btn-lumi no-margin">Lumi</button></li>
                <li class="link">
                    <a href="/introducion" class="class-route">
                        <span class="content-img"><div class="icon-img" style="background-image: url('src/assets/img/test.png');"></div></span>
                        <div class="link-text">Introdución</div>
                    </a>
                </li>
                <li class="has-children">
                    <a href="javascript:void(0)">Styles</a>
                    <ul class="child">
                        <li><a href="/colors" class="class-route">Colors</a></li>
                        <li><a href="/boxshadow" class="class-route">Box Shadow</a></li>
                        <li><a href="/avatar" class="class-route">Avatar</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="javascript:void(0)">Componentss</a>
                    <ul class="child">
                        <li><a href="/button" class="class-route">Button</a></li>
                    </ul>
                </li>
                <li class="link">
                    <a href="/color.html" class="class-route button next"><div class="link-text">Design Block</div></a>
                </li>
            </ul>
        </nav>
    </header>
</div>